{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Capstone Marketplace</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/static/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/stripe_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/styles/main.css' %}">
    <script src="{% static 'js/stripe_form.js' %}"></script>

    <style>
        body {
            text-align: center;
        }

        img {
            width: 1100px;
            height: 170px;
            object-fit: center;
        }
    </style>

</head>

<body>



    <div class="container">
        <h1>
            <a href="#">Capstone Marketplace</a>
        </h1>

        {% include "navbar.html" %}

        {% include 'messages.html' %}

        {% block breadcrumb %}

        {% endblock breadcrumb %}

        {% block content %}

        {% endblock content %}



    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <div class="container">

        <footer class="bg-gray-100">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">

                <div class="footer-right">
                    <h3 class="mb-5 uppercase text-lg">Capstone Marketplace Our Social Links</h3>

                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Twitter</a></li>
                    <li><a href="#" class="text-purple-500 hover:text-purple-800">Instagram</a></li>

                </div>
            </div>

            <img src="{% static '/images/CAPSTONELOGO.jpeg' %} ">

            <p class=" text-gray-700">Capstone Marketplace 02 2022 @Copyright Victor Ibarra Lucas</p>

        </footer>
    </div>


</body>



</body>

</html>